@import '/css/resets.css';

/* <uniquifier>: Use a uniquifier for the class name */
/* <weight>: Use a value from 100 to 900 */

:root {
  --secondary-fs: 0.875rem;
  --paragraph-fs: clamp(1rem, 2vw, 1.25rem);
  --btn-fs: clamp(1.4rem, 2vw, 2rem);
  --intro-fs: clamp(1.25rem, 6vw, 5rem);
  --title-fs: clamp(2rem, 10vw, 7rem);
  --section__title-fs: clamp(2.5rem, 9vw, 5rem);

  --main-clr: ;
  --secondary-clr: ;
  --accent-clr: ;
  --background-clr: ;
  
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: calc(15px + 0.390625vw);;
  font-weight: 200;
}

.btn {
  cursor: pointer;
  width: clamp(5em, 10vw, 10em);
  height: clamp(5em, 10vw, 10em);
  border-radius: 50%;
  font-size: var(--btn-fs);
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}


header {
  padding-inline: 50px;
  position: fixed;
  top: 20px;
  width: 100%;
  

  @media screen and (max-width: 521px) {
    padding-inline: 20px;
  }

  .header__nav {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

    .header__logo {
      width: clamp(120px, 10vw, 150px);
    }  
    
    ul {      
      display: flex;
      gap: 15px;

      @media screen and (max-width: 521px) {
        display: none;
      }
    }

  }
}

main {
  /* transition: padding 200ms ease-in-out; */
  
  section {
    
    padding-inline: 50px; 
    line-height: 1.1;

    .section-title {
      font-size: var(--section__title-fs);
    }
  }

  .home {    
    min-height: 90vh;   
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 521px) {
      padding-inline: 20px;
    }

    .home__background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      background-color: #eeeeee;
      height: 90vh;
      width: 100%;
    }

    .home__intro {
      font-size: var(--intro-fs);
    }

    .home__title {
      font-size: var(--title-fs);
    }   

    .home__btn {
      padding: 10px;
      position: absolute;
      bottom: 20%;
      left: 80%;
      transform: translateX(-50%);
      background-color: white; 
      transition: left 200ms ease-in-out;


      @media screen and (max-width: 768px) {
        left: 50%;
      }    
    }  
  }

  .about {   
    min-height: 60vh;   
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    @media screen and (max-width: 521px) {
      padding-inline: 20px;
    }

    .about__background {
      width: 100%;
      height: 60vh;
      position: absolute;
      top: 90vh;
      left: 0;
      right: 0;
      z-index: -10;
    }

    .about__section-title {
      margin-top: -1em;

      transition: all 200ms ease-in;

      @media screen and (max-width: 768px) {
        margin-top: -3em;
      }

    }
    .about__intro {
      text-align: right;
      font-weight: 400;
      line-height: 1.4;
      margin-top: 3em;
    }

    .about__btn {
      padding: 10px;
      position: absolute;
      top: 130vh;
      left: 10%;
      background-color: #eeeeee; 

      transition: all 200ms ease-in-out;

      @media screen and (max-width: 1028px) {
        top: 140vh;
        left: 50%;
        right: 0%;
        transform: translateX(-50%);
      }    
        
    }  
  }

  .work {   
    
    margin: 0 auto;   
    background-color: lightgray;   

    @media screen and (max-width: 521px) {
      padding-inline: 20px;
    }    

    .work__section-title {
      margin-top: 2em;
      text-align: left;
    }

    .work__cards {
      margin-top: 2em;
      display: grid;
      grid-row-gap: 4em;
      grid-column-gap: 4em;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
      justify-content: space-between;

      


    }    
    
  }


}
